# Node.js / Bun
node_modules/
dist/
build/
.env
.DS_Store
*.log
bun.lockb

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
instance/
.pytest_cache/
.coverage
htmlcov/
site/

# Docker
.docker/

# IDE
.vscode/
.idea/
